name: "Mirroring"
on:
  push:
    branches:
      - main

jobs:
  mirroring:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Mirroring other branches
        run: |
          git fetch origin main
          git push origin -f refs/remotes/origin/main:refs/heads/15.1
          git push origin -f refs/remotes/origin/main:refs/heads/15.2
          git push origin -f refs/remotes/origin/main:refs/heads/16.0
          git push origin -f refs/remotes/origin/main:refs/heads/16.1
